
<!doctype html>
{% extends 'home.html' %}
{% load static %}
{% block content %}
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Workout Videos</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
        <link rel="icon" type="image/x-icon" href="{% static 'web/img/logo.png' %}">

    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body style="background-color: black;">
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
 <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid ">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <div class="col-xl-3 col-lg-2">
                                <div class="logo">
                                    <a href="{% url 'home' %}">
                                        <h3 style="padding-top: 20px; color: white;">FITNEX.</h3>
                                        <img src="{% static 'web/img/logo.png' %}" height="100px" style="margin-top: -70px; margin-left: 50px;" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-7">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="{% url 'home' %}">home</a></li>
                                            <li><a href="{% url 'diet' %}">
                                                    My Diet
                                                </a></li>
                                            <li><a class="active" href="{% url 'workout_videos' %}">Workouts</a></li>
                                            <li><a href="{% url 'progress_dashboard' %}">Progress</a></li>
                                            <li><a href="{% url 'contact' %}">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                                <div class="Appointment">
                                    {% if request.user.is_authenticated %}
                                    <div class="book_btn dropdown d-none d-lg-block ">
                                        <a class="dropdown-toggle" class="dropdown-toggle" href="#"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Welcome {{ request.user.username }} !</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item" href="#">Profile</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                                            </li>
                                        </ul>
                                    </div>
                                    {% else %}
                                    <div class="book_btn d-none d-lg-block">
                                        <a href="#">Login</a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
        <!-- header-end -->

<div class="container mt-5 pt-5">
    <div>
    <a href="{% url 'ai_suggestions' %}" class="ai-float-btn">
    <img src="{% static 'img/ai-logo.jpg' %}"
         width="22"
         class="ai-icon">
    AI Workout
</a>

    </div>


<!-- Workout Part -->

    <div class="text-center mt-5 mb-5">
    <h2 class="text-white fw-bold">Workout Tutorials</h2>
  </div>

  <form method="GET" class="search-box">
    <input type="text" name="q" value="{{ query|default_if_none:'' }}" placeholder="Search workouts or muscle group...">
    <button type="submit">
        <i class="fa fa-search"></i>
    </button>
</form>

  <div class="row mt-5">
    {% for i in workout %}
    <div class="col-md-3 mb-4">
    <video class="workout-video" height="400px" width="200px" controls muted>
      <source src="{{i.Video.url}}" type="video/mp4">
    </video>
    <h2 style="color: white;">{{i.Muscle_Group}}</h2>
    <h5 style="color: white;">{{i.Name}}</h5>
    <p style="color: white;">{{i.Description}}</p>
  </div>
  {% endfor %}
  </div>
</div>

<div class="text-center mt-4">

<ul class="pagination justify-content-center">

{% for num in workout.paginator.page_range %}

    {% if workout.number == num %}

    <li class="page-item active">
        <a class="page-link custom-page" href="?page={{ num }}">{{ num }}</a>
    </li>

    {% else %}

    <li class="page-item">
        <a class="page-link custom-page" href="?page={{ num }}">{{ num }}</a>
    </li>

    {% endif %}

{% endfor %}

</ul>

</div>

<!-- End of Workout Part -->


    <!-- catagory_area  -->
     
    <div class="catagory_area">
    <div class="container-fluid p-0 mt-5">
        <h1 class="text-center text-white">TRAIN BY MUSCLE GROUP</h1>

        <div class="row no-gutters mt-5">
    {% for m in muscle %}
    <div class="col-lg-3 col-md-4 col-6 mb-3">
        <div class="single_catagory text-center overlay2"
             style="background-image: url('{{ m.M_Image.url }}'); 
                    height: 250px !important; 
                    padding: 0 !important; 
                    display: flex !important; 
                    flex-direction: column !important; 
                    justify-content: flex-end !important;
                    align-items: center !important;">

            <h3>{{ m.M_Name }}</h3>
            <a href="{% url 'filtered_workout' m_name=m.M_Name %}"
               class="boxed-btn3 mb-4">
               Train Now
            </a>
        </div>
    </div>
    {% endfor %}
</div>

    </div>
</div>


    <!-- Style -->
     <style>
        a.ai-float-btn {
    position: fixed;
    left: 30px;
    top: 150px;
    background: linear-gradient(90deg, #8b0000, #570000) !important;
    color: white !important;
    padding: 12px 20px !important;
    border-radius: 50px !important;
    font-weight: 600 !important;
    text-decoration: none !important;
    display: flex !important;
    align-items: center !important;
    gap: 10px !important;
    box-shadow: 0 0 15px rgba(185, 1, 1, 0.968);
    z-index: 999;
}

a.ai-float-btn:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.6);
    color: white;
}

a.ai-icon {
    width: 22px;
    height: 22px;
    filter: brightness(0) invert(1); /* makes logo white */
}

.custom-page{
    background: white;
    color: black;              /* black number */
    border: 2px solid white;
    margin: 4px;
    width: 40px;
    text-align: center;
    border-radius: 6px;
    font-weight: 600;
}

/* hover effect */
.custom-page:hover{
    background: #f0f0f0;
    color: black;
}

/* active page */
.page-item.active .custom-page{
    background: red;
    color: white;              /* white number */
    border: 2px solid red;
}

.search-box{
    position: relative;
    width: 600px;
    margin: 40px auto;
}

.search-box input{
    width: 100%;
    padding: 14px 50px 14px 20px;
    border-radius: 50px;
    border: none;
    outline: none;
    background: #111;
    color: #fff;
    font-size: 16px;
    transition: 0.3s;
}

.search-box input::placeholder{
    color:#aaa;
}

.search-box input:focus{
    box-shadow: 0 0 10px rgba(255,20,20,0.7);
}

.search-box button{
    position: absolute;
    right: 5px;
    top: 5px;
    border: none;
    background: #ff1414;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.search-box button:hover{
    transform: scale(1.1);
}



     </style>

    <!-- JS here -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'web/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'web/js/popper.min.js' %}"></script>
    <script src="{% static 'web/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'web/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'web/js/ajax-form.js' %}"></script>
    <script src="{% static 'web/js/waypoints.min.js' %}"></script>
    <script src="{% static 'web/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'web/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'web/js/scrollIt.js' %}"></script>
    <script src="{% static 'web/js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'web/js/wow.min.js' %}"></script>
    <script src="{% static 'web/js/gijgo.min.js' %}"></script>
    <script src="{% static 'web/js/nice-select.min.js' %}"></script>
    <script src="{% static 'web/js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'web/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'web/js/plugins.js' %}"></script>



    <!--contact js-->
    <script src="{% static 'web/js/contact.js' %}"></script>
    <script src="{% static 'web/js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'web/js/jquery.form.js' %}"></script>
    <script src="{% static 'web/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'web/js/mail-script.js' %}"></script>


    <script src="{% static 'web/js/main.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
  
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'web/js/jquery.sticky.js' %}"></script>

    <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-calendar-o"></span>'
            }
        });
        $('#datepicker2').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-calendar-o"></span>'
            }

        });

        $("#sticky-header").sticky({topSpacing:0});
    </script>
    <script>
    document.querySelectorAll('.workout-video').forEach(video => {
        video.muted = true;

        // If user tries to unmute, mute again
        video.addEventListener('volumechange', function() {
            if (!video.muted) {
                video.muted = true;
            }
        });
    });

    window.addEventListener("scroll", function() {
    var header = document.getElementById("sticky-header");

    if (window.scrollY > 100) {
        header.classList.add("sticky");
    } else {
        header.classList.remove("sticky");
    }
});

if (performance.navigation.type === 1) {
    window.location.href = window.location.pathname;
}
</script>
</body>

</html>
{% endblock %}