<!DOCTYPE html>
{% extends 'dashboard.html' %}
{% block content %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="mdc-layout-grid">
            <form action="{% url 'update_workout' work_id=workout.id %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell--span-8">
                <div class="mdc-card">
                  <h6 class="card-title">Edit Workout</h6>
                  <div class="template-demo">
                    <div class="mdc-layout-grid__inner">
                    
                      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-10-desktop">
                        <div>
                          <div class="mt-5">
                            <p><b><i>Workout Name</i></b></p>
                          </div>
                        <div class="mdc-text-field mdc-text-field--outlined">
                          <input class="mdc-text-field__input" id="text-field-hero-input" type="text" name="name" value="{{workout.Name}}">
                          <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                            
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__trailing"></div>
                          </div>
                        </div>
                        </div>
                        
                      </div>

                      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-10-desktop">
                        <div>
                          <div class="mt-5">
                            <p><b><i>Muscle Group Name</i></b></p>
                          </div>
                        <div class="mdc-text-field mdc-text-field--outlined">
                          <select class="mdc-text-field__input" id="text-field-hero-input" type="text" name="m_group">
                            <option selected>{{workout.Muscle_Group}}</option>
                            {% for m in muscles %}
                            <option value="{{m.M_Name}}">{{m.M_Name}}</option>
                            {% endfor %}
                          </select>
                          
                          <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                            
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__trailing"></div>
                          </div>
                        </div>
                        </div>
                        
                      </div>


                      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-10-desktop">
                        <div>
                          <div class="mt-5">
                            <p><b><i>Description</i></b></p>
                          </div>
                        <div class="mdc-text-field mdc-text-field--outlined">
                          <input class="mdc-text-field__input" id="text-field-hero-input" type="text" name="description" value="{{workout.Description}}">
                          <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                            
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__trailing"></div>
                          </div>
                        </div>
                        </div>
                        
                      </div>


                      
                       <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-8-desktop">
                        <div>
                          <div class="mt-5">
                            <p><b><i>Upload Video</i></b></p>
                          </div>
                          <video height="300px" width="200px">
                            <source src="{{workout.Video.url}}">
                          </video>
                        <div class="mdc-text-field mdc-text-field--outlined"></div>
                          <input class="mdc-text-field__input" type="file" id="text-field-hero-input" name="video">
                          <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                            <div class="mdc-notched-outline__leading"></div>
                            
                            <div class="mdc-notched-outline__trailing"></div>
                          </div>
                        </div>
                        </div>
                          
                      </div> 
                        
                      </div>

                      <button class="mdc-button mdc-button--raised mdc-ripple-upgraded mt-5" type="submit">
                      Submit
                    </button>

                    </div>
                  </div>
                </div>
              </div>
            </form>
            
            </div>
          </div>
</body>
</html>
{% endblock %}