<!DOCTYPE html>
{% extends 'dashboard.html' %}
{% block content %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <title>View Muscle Groups</title>
</head>
<body>

  <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                <div class="mdc-card p-0">
                  <h6 class="card-title card-padding pb-0">Basic Table</h6>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th class="text-center">ID</th>
                          <th class="text-center">MUSCLE GROUP NAME</th>
                          <th class="text-center">IMAGE</th>
                          <th class="text-center">OPTIONS</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for m in mus %}
                        <tr>
                          <td class="text-center">{{m.id}}</td>
                          <td class="text-center">{{m.M_Name}}</td>
                          <td class="text-center">
                            <img src="{{m.M_Image.url}}" height="60px" width="80px" alt="">
                          </td>
                          <td class="text-center">
                            <a href="{% url 'edit_muscle' m_id=m.id %}" class="btn btn-primary" style="margin-right: 10px;">Edit</a>
                            <a href="{% url 'delete_muscle' m_id=m.id %}" class="btn btn-danger">Delete</a>
                          </td>
                        </tr>
                        {% endfor %}
                        
                          
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
 

              <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</body>
</html>
{% endblock %}